@media screen and (max-width: 740px) {
    .s-full-width, /* tăng chiều dài nút bấm để phù hợp thiết kế mobile */
    .s-col-full {  /* ý nghĩa đặt tên: chia cột full màn hình với size s (mobie) */
        width: 100% !important; /* class chung dùng để dàn full 100% chiều ngang của đối tượng trên màn hình mobile */
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }
    
    #header {
        overflow: hidden; /* ẩn hết những gì thừa ra khỏi phạm vi của nó (cụ thể là ẩn khỏi height: 46px) */
    }
    
    #header .mobile-menu-btn {
        display: block; /* hiện trên mobile - ghi đề display: none */
    }
    
    #header .search-btn { 
        display: none; /* ẩn đi nút kính lúp tìm kiếm */
    }

    #nav {
        display: block; /* hiển thị dạng block - kéo dài màu của thanh menu */
    }
    
    #nav > li {
        display: block; /* cho menu xổ xuống theo chiều dọc */
    }

    #nav > li:first-child {
        display: inline-block; /* phần home không kéo dài thanh màu tràn nav */
    }

    #nav .subnav {
        position: initial; /* ghi đè thuộc tính position: absolute - cho xổ hẳn xuống dưới, không cần đè lên */
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 40px
    }  
    /* Chiều cao tối thiểu để ngón tay có thể bấm và tương tác là 42px - 48px */

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img {
        width: 60%; /* ghi đè cho kích thước ảnh member lên 60% */
    }

    .place-item {
        margin-top: 16px; /* mỗi place item cách nhau 16px*/
        width: 100%; /* dàn full màn hình mobile 100% */
    }

    .places-list {
        margin-top: 16px; /* đẩy khối ticket-list lên trên cách places-list 16px  */
    }

    .contact-form {
        margin-top: 16px; /* đẩy khối contact-info lên trên cách contact-form 16px */
    }
}